body {
  background-color: #1c1a1c;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-image: url("./Normal_Button/backgroung-image.png");
  background-repeat: no-repeat;
  background-position: 100% 40vh;
}

#toolbar {
  background-color: #3e3c3c;
  position: absolute;
  display: flex;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4em;
  height: 15vh;
  justify-content: space-between;
}

.logo {
  color: white;
  align-self: center;
  padding: 0 5%;
  font-family: 'Roboto', sans-serif;
}

.menu {
  display: flex;
}

.dropdown-button {
  background-color: #3e3c3c;
  color: white;
  border: none;
  padding: 0 5vh;
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: #ff6b00;
}

.dropdown-menu {
  display: flex;
  align-items: stretch;
  align-content: space-between;
  padding-right: 8vh;
}

.dropdown-menu button {
  height: 96%;
  border: none;
  padding: 0, 10vh;
  background-color: #3e3c3c;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #ff6b00;
}

.headline {
  background-color: transparent;
  max-width: 60vh;
  height: 60vh;
  position: relative;
  left: 10%;
  top: 20vh;
  right: 20%;
}

.social-media {
  display: flex;
}

ul {
    list-style: none;
    padding: 0;
}

.social-media a {
  cursor: pointer;
}

@media (min-width: 375px) {
  .dropdown-menu {
    display: none;
  }

  .headline h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    color: #ff6b00;
  }

  .headline h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: white;
  }

  .headline p {
    color: white;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .social-media {
    width: 30vh;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .dropdown-button {
    display: none;
  }

  .dropdown-menu {
    display: inline-block;
  }

  .headline h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.1em;
    color: #ff6b00;
  }

  .headline h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: white;
  }

  .headline p {
    color: white;
    font-size: 1.4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .social-media {
    flex-direction: column;
    height: 30vh;
    width: 10vh;
    position: relative;
    right: 14vh;
    bottom: 50vh;
  }
}
